#########################
# COMMON
#########################

# OpenAI (Kaval.AI)
OPENAI_API_KEY=fakekey
KAVALAI_OPENAI_SERVICE_TIER=standard
KAVALAI_LLM_TIMEOUT=30
# Gemini (KavalAi)
GEMINI_API_KEY=
# Ollama
OLLAMA_HOST=11434

KAVALAI_DEFAULT_LLM_MODEL=openai/gpt-5-nano-2025-08-07
KAVALAI_DEFAULT_EMBEDDING_MODEL=openai/text-embedding-3-small
#KAVALAI_DEFAULT_EMBEDDING_MODEL=ollama/nomic-embed-text-v2-moe
# If normalizer YAML path is given, it will be loaded anm used to transform the embeddings.
KAVALAI_EMBEDDING_NORMALIZER_YAML=

KAVALAI_SQL_ECHO=0

#########################
# BACKOFFICE
#########################
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

BACKOFFICE_HOST=0.0.0.0
BACKOFFICE_PORT=10888

KAVALAI_BO_DB_URI=postgresql://kavalai_dev:kavalai_dev@localhost:14000/kavalai_dev
KAVALAI_BO_DB_SCHEMA=backoffice

FRONTEND_URL=http://localhost:4200


#########################
# AGENT
#########################

# Database setting
KAVALAI_DB_URI=postgresql://kavalai_dev:kavalai_dev@localhost:14000/kavalai_dev
KAVALAI_DB_SCHEMA=agents
KAVALAI_DB_POOL_SIZE=0
KAVALAI_DB_MAX_OVERFLOW=0

# Host and port to run the agent server.
KAVALAI_AGENT_HOST=0.0.0.0
KAVALAI_AGENT_PORT=10000

# If given, enable HTTP basic auth on server.
KAVALAI_AGENT_BASIC_AUTH_USER=user
KAVALAI_AGENT_BASIC_AUTH_PASSWORD=pass

# The workflow to execute with the KavalAI agent.
KAVALAI_AGENT_WORKFLOW_PATH=

#########################
# TOOLS
#########################
LANGSEARCH_API_KEY=
GOOGLE_CUSTOM_SEARCH_API_KEY=

#########################
# PROXY
#########################
TOR_PROXY_HOST=torproxy
TOR_PROXY_PORT=8118
TOR_SOCKS_PORT=9050
