<div class="dropdown">
  <div #dropdownButton tabindex="0" role="button" class="btn btn-ghost btn-circle" (focus)="openMenu()" (blur)="closeMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
    </svg>
  </div>
  <div tabindex="-1" class="dropdown-content rounded-box mt-3 w-screen h-screen md:w-auto md:h-auto fixed left-0 top-12 md:absolute md:top-full md:left-0 p-6 shadow flex flex-col md:flex-row gap-8 z-50 overflow-y-auto" [class.hidden]="!isMenuOpen" (mousedown)="onMenuClick()">
    <ul class="menu p-0">
      <li><h2 class="menu-title text-lg md:text-sm">Admin</h2></li>
      <li><a class="py-3 md:py-2 text-lg md:text-base" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Projects</a></li>
      @if (isAdmin()) {
        <li><a class="py-3 md:py-2 text-lg md:text-base" routerLink="/users" routerLinkActive="active">Users</a></li>
      }
    </ul>
    <ul class="menu p-0 md:border-l border-base-content/10 md:pl-8">
      <li><h2 class="menu-title text-lg md:text-sm">Agents</h2></li>
      <li><a class="py-3 md:py-2 text-lg md:text-base" routerLink="/agents" routerLinkActive="active">Agents</a></li>
      <li><a class="py-3 md:py-2 text-lg md:text-base" routerLink="/workflows" routerLinkActive="active">Workflows</a></li>
      <li><a class="py-3 md:py-2 text-lg md:text-base" routerLink="/conversations" routerLinkActive="active">Conversations</a></li>
      <li><a class="py-3 md:py-2 text-lg md:text-base" routerLink="/llm-call-stats" routerLinkActive="active">Model calls</a></li>
    </ul>
    <ul class="menu p-0 md:border-l border-base-content/10 md:pl-8">
      <li><h2 class="menu-title text-lg md:text-sm">RAG</h2></li>
      <li><a class="py-3 md:py-2 text-lg md:text-base" routerLink="/rag" routerLinkActive="active">RAG</a></li>
    </ul>
    <ul class="menu p-0 md:border-l border-base-content/10 md:pl-8">
      <li><h2 class="menu-title text-lg md:text-sm">Other</h2></li>
      <li><a class="py-3 md:py-2 text-lg md:text-base" href="https://docs.kaval.ai/" target="_blank" rel="noopener noreferrer">Documentation</a></li>
    </ul>
    <div class="md:hidden pb-12"></div>
  </div>
</div>
